/* @media (max-width:750px){
} */
/* ➡️ Large tablets/laptops: 992px to 1199px  */
@media (max-width:992px){
    .nav-links{
        display: none;
    }
    #nav-menu .nav-search i{
        padding: 0 1rem;
        font-size: 2rem;
    }
    #humburgetBtn{
        display: block;
    }
    /* Main-Group */
    .main-group {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    /* Left */
    .post-content{
        padding: 1.5rem 0rem;
    }

    /* Right */
    .right-content {
        padding: 0;
    }
    .service-info {
        padding: 3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        width: 80%;
    }
/* Hmburget Section Start */

}

/* ➡️ Small tablets: 768px to 991px  */
@media (max-width:768px){ 
    .item-content {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #000;
    }  
    .item-content a {
        color: var(--black-color);
    }
    /* Left */
    .post-group {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 3rem;
    }
    .service-info {
        width: 100%;
    }
}

@media (max-width:480px){    
}
➡️ Mobile: Up to 480px 
➡️ Extra small devices: 481px to 767px 


➡️ Desktops: 1200px to 1919px 
➡️ Extra large screens: 1920px and up